@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE & Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}